<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="SMLiiga" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=..\..\SMLiiga.accdb" />
    <add name="SMLiigaEntities" connectionString="metadata=res://*/SMLiiga.csdl|res://*/SMLiiga.ssdl|res://*/SMLiiga.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=eight.labranet.jamk.fi;initial catalog=SMLiiga;persist security info=True;user id=koodari;password=koodari13;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>